In [1]:
abc=12340
print(abc)

12340

In [2]:
print(abc*1/2)
print(abc*1/4)
print(abc*1/5)

6170.0
3085.0
2468.0

In [3]:
str1="string test 1"
str2="string test 2"
print(str1)
print(str2)

string test 1
string test 2

In [4]:
type(str2)

str

In [5]:
str3='This is a "double" qoutation test'
str4="This is a 'single' qoutation test"
print(str3)
print(str4)

This is a "double" qoutation test
This is a 'single' qoutation test

In [6]:
a='Enjoy '
b='python!'
c=a+b
print(c)

Enjoy python!

In [7]:
print(a*3)

Enjoy Enjoy Enjoy

In [8]:
student1=[90,95,85,80]
student1

[90, 95, 85, 80]

In [9]:
type(student1)

list

In [10]:
student1[0]

90

In [11]:
student1[-1]

80

In [12]:
student1[1]=100

In [13]:
student1

[90, 100, 85, 80]

In [14]:
list_con1=[1,2,3,4]
list_con2=[5,6,7,8]
list_con=list_con1+list_con2

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
list_con1=[1,2,3,4]
list_con=list_con1*3
list_con

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
list_data=[0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [20]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [21]:
list_data1=[1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [23]:
myFriends=['James','Robert','Lisa','Mary']
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [26]:
myFriends=['James','Robert','Lisa','Mary']
print(myFriends)
myFriends.extend(['Laura','Betty'])
myFriends.pop()
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura']

In [27]:
tuple1=(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [28]:
type(tuple1)

tuple

In [29]:
tuple1[1]

2

In [30]:
tuple2=5,6,7,8
print(tuple2)

(5, 6, 7, 8)

In [31]:
type(tuple2)

tuple

In [32]:
tuple3=(9,) #반드시 콤마(,)필요
tuple4=10, #반드시 콤마(,)필요
print(tuple3)
print(tuple4)

(9,)
(10,)

In [33]:
tuple5=(1,2,3,4)
tuple5[1]=5 #한번 생성된 튜플의 요소는 변경 불가

TypeError: 'tuple' object does not support item assignment

In [35]:
del tuple5[1] #한번 생선된 튜플 요소 삭제 불가

TypeError: 'tuple' object doesn't support item deletion

In [36]:
tuple6=('a','b','c','d','e','f')
tuple6.index('c')

2

In [37]:
tuple7=('a','a','a','b','b','c','d')
tuple7.count('a')

3

In [38]:
set1={1,2,3}
set1a={1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [39]:
type(set1)

set

In [40]:
A={1,2,3,4,5}
B={4,5,6,7,8,9,10}
A&B

{4, 5}

In [41]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [42]:
A-B

{1, 2, 3}

In [43]:
a=[1,2,3,4,5]
type(a)

list

In [44]:
b=tuple(a)
b

(1, 2, 3, 4, 5)

In [45]:
type(b)

tuple

In [46]:
c=set(a)
c

{1, 2, 3, 4, 5}

In [47]:
type(c)

set

In [48]:
list(b)

[1, 2, 3, 4, 5]

In [49]:
list(c)

[1, 2, 3, 4, 5]

In [50]:
country_capital={"영국":"런던","프랑스":"파리","스위스":"베른","호주":"멜버른","덴마크":"코펜하겐"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [51]:
type(country_capital)

dict

In [53]:
country_capital["영국"]

'런던'

In [54]:
dic_data1={1:"버스",3:"비행기",4:"택시",5:"자전거"}
dic_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [55]:
dic_data1[3]

'비행기'

In [56]:
dic_data2={1:10,2:20,3:30,4:40,5:50}
print(dic_data2)
print(dic_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [57]:
dic_data3={"list_data1":[11,12,13],"list_data2":[21,22,23]}
print(dic_data3)
print(dic_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [58]:
mixed_list={1:10,'dict_num':{1:10,2:20},"dict_list_tuple":{"A":[11,12,13],"B":(21,22,23)},"dict_string":"이것은 책입니다."}
mixed_list

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_string': '이것은 책입니다.'}

In [59]:
country_capital["독일"]="베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [60]:
country_capital["호주"]="캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [61]:
del country_capital["덴마크"]
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [62]:
fruit_code={"사과":101,"배":102,"딸기":103,"포도":104,"바나나":105}
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [63]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [64]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [107]:
fruit_code2={"오렌지":106,"수박":107}

In [109]:
fruit_code.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [111]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict

In [65]:
list((1,2,3,4))

[1, 2, 3, 4]

In [72]:
a="abcdefghijklmn"
a[2:5]

'cde'

In [76]:
dict={"adult":100000,"teen":70000,"child":30000}
dict

{'adult': 100000, 'teen': 70000, 'child': 30000}

In [104]:
#위에서 선언한 dict항목에 <baby - 0> 항목을 추가
dict.update({"baby":0})
dict

{'adult': 100000, 'teen': 70000, 'child': 30000, 'baby': 0}

In [100]:
dict.keys()

dict_keys(['adult', 'teen', 'child', 'baby'])

In [101]:
dict.values()

dict_values([100000, 70000, 30000, 0])

In [93]:
list1=["Strawberry","Apple","Orange"]
print(list1)
list1.remove("Apple")
print(list1)

['Strawberry', 'Apple', 'Orange']
['Strawberry', 'Orange']

In [96]:
list1=["Strawberry","Apple","Orange"]
print(list1)
del list1[1]
print(list1)

['Strawberry', 'Apple', 'Orange']
['Strawberry', 'Orange']

In [114]:
print('{0} and {1} and {0}'.format("You","Me"))

You and Me and You

In [115]:
print('{var1} are {var2} '.format(var1="You",var2="Me"))

You are Me

In [116]:
## %S: 문자, $d 정수, $f 실수

In [117]:
print("Test1:%5d, Price:%4.2f"%(776,6534.123))

Test1:  776, Price:6534.12

In [118]:
print("Test1:{0:5d}, Price:{1:4.2f}".format(776,6534.123))

Test1:  776, Price:6534.12

In [119]:
print("Test1:{a:5d}, Price:{b:4.2f}".format(a=776,b=6534.123))

Test1:  776, Price:6534.12

In [120]:
data1=int(input())
data2=int(input())
print(data1+data2)

26
32
58

In [125]:
print("Best","python","book",sep="-:*:-")

Best-:*:-python-:*:-book

In [130]:
name="James"
ID_num=789
print("Name:",name+",\nID_number:",ID_num)

Name: James,
ID_number: 789

In [131]:
print("Welcome to ")
print("python!")

Welcome to
python!

In [132]:
print("Welcome to ",end="")
print("python!")

Welcome to python!

In [135]:
name="광재"
print("%s는 나의 친구입니다." % name)

광재는 나의 친구입니다.

In [136]:
r=3
PI=3.14159265358979
print("반지름:%d,원주율:%f" % (r,PI))

반지름:3,원주율:3.141593

In [139]:
animal_0="cat"
animal_1="dog"
animal_2="fox"

print("Animal: {0}".format(animal_0))
print("Animal: {0},{1},{2}".format(animal_0,animal_1,animal_2))

Animal: cat
Animal: cat,dog,fox

In [140]:
print("Animal:{1},{2},{0}".format(animal_0,animal_1,animal_2))

Animal:dog,fox,cat

In [142]:
print("Animal:{0},{2}".format(animal_0,animal_1,animal_2))

Animal:cat,fox

In [143]:
print("Animal:{},{},{}".format(animal_0,animal_1,animal_2))

Animal:cat,dog,fox

In [144]:
print("Animal:{0},{1},{2}".format(animal_1,animal_2,animal_0))

Animal:dog,fox,cat

In [146]:
name="Tomas"
age=10
a=0.1234567890123456789
fmt_string="String:{0}, Integer Number:{1}, Floating Number:{2}"
print(fmt_string.format(name,age,a))

String:Tomas, Integer Number:10, Floating Number:0.12345678901234568

In [151]:
a=0.1234567890123456789
print("{0:.2f},{0:.5f}".format(a))

0.12,0.12346

In [157]:
x=3
print("{0:2d}".format(x))
print("{0:05d}".format(x))
print("{0:>5d}".format(x))

 3
00003
    3

In [158]:
x=0.12345
print("{0:.3f}".format(x))

0.123

In [159]:
x=7456000
print("{0:,}".format(x))

7,456,000

In [163]:
x=0.3258
print("{0:.1%}".format(x))

32.6%

In [164]:
x=92500000000
print("{0:.2e}".format(x))

9.25e+10

In [165]:
x=16
print("{0:#x}".format(x))

0x10

In [ ]:
x=8
print("{0:#o}".format(x))

In [171]:
num=input("숫자를 입력하세요: ")
print("당신이 입력한 숫자는 {}입니다.".format(num))

숫자를 입력하세요: 100
당신이 입력한 숫자는 100입니다.

In [170]:
yourName=input("당신의 이름은? ")
print("당신은 {}이군요.".format(yourName))

당신의 이름은? 메롱
당신은 메롱이군요.

In [172]:
a=input("정사각형 한 변의 길이는? : ")
area=int(a)**2
print("정사각형의 넓이 : {}".format(area))

정사각형 한 변의 길이는? : 3
정사각형의 넓이 : 9

In [173]:
b=input("정사각형 한 변의 길이는?: ")
area=float(b)**2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 2.5
정사각형의 넓이: 6.25

In [174]:
c=input("정사각형 한 변의 길이는?: ")
area=float(c)**2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 3
정사각형의 넓이: 9.0

In [178]:
x=75
if x>=90:
    print("Pass")
else:
    print("Fail")

Fail

In [179]:
x=85
if x>=90:
    print("Very good")
elif (x>=80) and (x<90):
    print("Good")
else:
    print("Bad")

Good

In [182]:
x=85
if x>=90:
    print("Very good")
elif 80 <= x <90:
    print("Good")
else:
    print("Bad")

Good

In [184]:
x=80
if x>=90:
    print("Pass")
else:
    print("Fail")

Fail

In [187]:
grade=1
score=270

if grade<=1:
    if score>=320:
        print("너 A등급")
    elif score>=260:
        print("너 B등급")
    else:
        print("너 저리가")
else:
    print("넌 등급 안에 없음")

너 B등급

In [189]:
data=int(input())
if data%2==0:
    print("짝수")
else:
    print("홀수")

66
짝수

In [195]:
data1=int(input())
data2=int(input())
data3=int(input())

if data1<=data2 and data1 <=data3:
    print(data1)
elif data2<=data1 and data2 <=data3:
    print(data2)
elif data3<=data1 and data3 <=data2:
    print("가장 작은 값은:"+data3)

21
21
33
21

In [ ]:
data=input("주민번호는?")
print("출생년도: ", data[0:2],"년도")

In [199]:
data=input("주민번호는?")
if data[6]=="1":
    print("남성")
else:
    print("여성")

주민번호는?901234123443
남성

In [200]:
x=85
if x>=90:
    print("very good")
elif 80<=x<90:
    print("good")
else:
    print("bad")

good

In [201]:
x=100
if x>=90:
    if x==100:
        print("perfect")
    else:
        print("very good")
elif (x>=80 and x<90):
    print("good")
else:
    print("bad")

perfect

In [202]:
x=75
if x>=80:
    pass
else:
    pass

In [204]:
a=0
print(a)
a=a+1
print(a)
a=a+1
print(a)
a=a+1
print(a)
a=a+1
print(a)
a=a+1
print(a)

0
1
2
3
4
5

In [209]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [210]:
myFriends=['James','Robert','Lisa','Mary']
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

In [211]:
print(range(0,10,1))

range(0, 10)

In [212]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [213]:
for a in range(0,6,1):
    print(a)

0
1
2
3
4
5

In [214]:
for i in range(3):
    print(i)

0
1
2

In [215]:
for a in ["python","java","R"]:
    print("우리가 여기서 배우는 언어: ",a)

우리가 여기서 배우는 언어:  python
우리가 여기서 배우는 언어:  java
우리가 여기서 배우는 언어:  R

In [218]:
sum=0
for i in range(1,101):
    sum +=i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [219]:
names=["kim","park","lee","jung","choi","yeo"]
for name in names:
    print("You are",name)
my_info={
    "name":"lee",
    "age":26,
    "city":"seoul"
}

You are kim
You are park
You are lee
You are jung
You are choi
You are yeo

In [220]:
numbers=[14,3,4,7,10,24,17,2,33,15,34,36,38]
for num in numbers:
    if num==33:
        print("찾았다: 33!")
        break
    else:
        print("못 찾았다: ",num)

못 찾았다:  14
못 찾았다:  3
못 찾았다:  4
못 찾았다:  7
못 찾았다:  10
못 찾았다:  24
못 찾았다:  17
못 찾았다:  2
찾았다: 33!

In [223]:
It=["1",2,5,True,4.3,complex(4)]
for i in It:
    if type(i) is float:
        continue
print("type: ",type(i))
print("multiply by 2:",i*3)

type:  <class 'complex'>
multiply by 2: (12+0j)

In [224]:
q6=["A","b","c","D","e","F","G","h"]
print([s.upper() if s.islower() else s.lower() for s in q6])

['a', 'B', 'C', 'd', 'E', 'f', 'g', 'H']

In [225]:
for a in range(0,6,2):
    print(a)

0
2
4

In [226]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [227]:
print(list(range(0,20,5)))
print(list(range(-10,0,2)))
print(list(range(3,-10,-3)))
print(list(range(0,-5,1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [228]:
x_list=['x1','x2']
y_list=['y1','y2']
print("x y")
for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [229]:
names=['James','Robert','Lisa','Mary']
scores=[95,96,97,94]

for k in range(len(names)):
    print(names[k],scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [230]:
for name, score in zip(names,scores):
    print(name,score)

James 95
Robert 96
Lisa 97
Mary 94

In [231]:
i=0
sum=0
print("i sum")
while (sum<20):
    i=i+1
    sum=sum+i
    print(i,sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [232]:
k=0
while True:
    k=k+1
    if(k>3):
        break
    print(k)

1
2
3

In [233]:
for k in range(10):
    if(k>2):
        break
    print(k)

0
1
2

In [242]:
x=int(input())
if x>=81 and x<=100:
    print("A학점")
elif x<=61 and x>=80:
    print("B학점")
elif x<=41 and x>=60:
    print("C학점")
elif x<=21 and x>=40:
    print("D학점")
else:
    print("E학점")

20
E학점

In [253]:
q4=["nice","study","python","anaconda","!"]
answer=[q for q in q4 if len(q)>=5]
print(answer)

['study', 'python', 'anaconda']

In [300]:
a=[12,6,8] ##세개 숫자 중 가장 큰 수 출력
if a[0]>=a[1] and a[0]>=a[2]:
    print(a[0])
elif a[1]>=a[2] and a[1]>=a[0]:
    print(a[1])
elif a[2]>=a[0] and a[2]>=a[1]:
    print(a[2])

12

In [256]:
def hello(pname):
    print("Hello",pname)

In [257]:
p1="Data"
hello(p1)

Hello Data

In [260]:
def d_return(pname):
    val="Data,"+str(pname)
    return val

In [261]:
d_return("master")

'Data,master'

In [262]:
def func_mul(x):
    y1=x*2
    y2=x*4
    y3=x*6
    return y1, y2, y3

In [263]:
v1, v2, v3=func_mul(3)

In [264]:
print(v1,v2,v3)

6 12 18

In [267]:
print(type(v1))

<class 'int'>

In [268]:
def func_mul(x):
    y1=x*2
    y2=x*4
    y3=x*6
    return [y1, y2, y3]

In [269]:
a= v1, v2, v3=func_mul(6)

In [270]:
print(type(a))

<class 'list'>

In [279]:
def func_mul(x):
    y1=x*2
    y2=x*4
    y3=x*6
    return {'r1':y1, 'r2':y2, 'r3':y3}

In [280]:
dic = func_mul(6)

In [281]:
print(dic.items())

dict_items([('r1', 12), ('r2', 24), ('r3', 36)])

In [282]:
def my_func():
    print("My first function!")
    print("This is a function")

In [283]:
my_func()

My first function!
This is a function

In [284]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [285]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [286]:
def my_student_info(name, school_ID,phoneNumber):
    print("---------------")
    print("- 학생이름:",name)
    print("- 학급번호:",school_ID)
    print("- 전화번호:",phoneNumber)

In [287]:
my_student_info("현아","01","01-235-6789")
my_student_info("진수","02","01-987-6543")

---------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
---------------
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 01-987-6543

In [288]:
def my_calc(x,y):
    z=x*y
    return z

In [289]:
my_calc(3,4)

12

In [290]:
def my_student_info_list(student_info):
    print("**********************")
    print("* 학생이름:",student_info[0])
    print("* 학급번호:",student_info[1])
    print("* 전화번호:",student_info[2])
    print("**********************")

In [291]:
student1_info=["현아","01","01-234-5678"]
my_student_info_list(student1_info)

**********************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-234-5678
**********************

In [292]:
my_student_info_list(["진수","02","01-987-6543"])

**********************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543
**********************

In [296]:
a=5
def func1():
    a=1
    print("[func1] 지역변수 a=",a)
def func2():
    a=2
    print("[func2] 지역변수 a=",a)
def func3():
    print("[func3] 전역변수 a=",a)
def func4():
    global a
    a=4
    print("[func4] 전역변수 a=",a)

In [297]:
func1()
func2()
print("전역변수 a=",a)

[func1] 지역변수 a= 1
[func2] 지역변수 a= 2
전역변수 a= 5

In [298]:
func3()
func4()
func3()

[func3] 전역변수 a= 5
[func4] 전역변수 a= 4
[func3] 전역변수 a= 4